<a href="https://colab.research.google.com/github/kavyaaaa33/Introduction-to-sql-python/blob/main/sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import sqlite3
 
conn = sqlite3.connect('/content/SalesDBNew.db')

 
cursor = conn.cursor()
cursor.execute ("select min (unitprice) from Supermarket_sales")
print(cursor.fetchall())
conn.commit()
conn.close()


conn.close()

[('0',)]

In [4]:
import sqlite3
 
conn = sqlite3.connect('/content/SalesDBNew.db')

 
cursor = conn.cursor()
cursor.execute ("select max (unitprice) from Supermarket_sales")
print(cursor.fetchall())
conn.commit()
conn.close()


conn.close()

[('99',)]

In [5]:
import sqlite3
 
conn = sqlite3.connect('/content/SalesDBNew.db')

 
cursor = conn.cursor()
cursor.execute ("select avg (unitprice) from Supermarket_sales")
print(cursor.fetchall())
conn.commit()
conn.close()


conn.close()

[(49.099,)]

In [6]:
import sqlite3
 
conn = sqlite3.connect('/content/SalesDBNew.db')

 
cursor = conn.cursor()
cursor.execute ("select min (quantity) from Supermarket_sales")
print(cursor.fetchall())
conn.commit()
conn.close()


conn.close()

[('1',)]

In [7]:
import sqlite3
 
conn = sqlite3.connect('/content/SalesDBNew.db')

 
cursor = conn.cursor()
cursor.execute ("select max(quantity) from Supermarket_sales")
print(cursor.fetchall())
conn.commit()
conn.close()


conn.close()

[('9',)]

In [9]:
import sqlite3
 
conn = sqlite3.connect('/content/SalesDBNew.db')

 
cursor = conn.cursor()
cursor.execute ("select avg(quantity) from Supermarket_sales")
print(cursor.fetchall())
conn.commit()
conn.close()


conn.close()

[(5.51,)]

In [11]:
import sqlite3
 
conn = sqlite3.connect('/content/SalesDBNew.db')

 
cursor = conn.cursor()
cursor.execute ("SELECT COUNT(*) FROM Supermarket_sales")
print(cursor.fetchall())
conn.commit()
conn.close()


conn.close()

[(1000,)]

In [12]:
import sqlite3
 
conn = sqlite3.connect('/content/SalesDBNew.db')

 
cursor = conn.cursor()
cursor.execute ("SELECT COUNT(*) FROM (SELECT AVG(Unitprice) FROM Supermarket_sales);")
print(cursor.fetchall())
conn.commit()
conn.close()


conn.close()

[(1,)]

In [13]:
import sqlite3
 
conn = sqlite3.connect('/content/SalesDBNew.db')

 
cursor = conn.cursor()
cursor.execute ("SELECT COUNT(*) FROM (SELECT AVG(Unitprice) FROM Supermarket_sales ORDER BY Unitprice);")
print(cursor.fetchall())
conn.commit()
conn.close()


conn.close()

[(1,)]